<!DOCTYPE html>
<html lang="en">
<head>
  <title>Farmer Supply Chain</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br/> 
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Farmer Supply Chain</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/farmer">Add Farmer</a></li>
        <li><a href="/distributor">Add Distributor</a></li>
        <li><a href="/shop">Add Shop</a></li>
        <li><a href="/asset">Add Asset</a></li>

      </ul>
    </div>
    </nav>

<div class="container">
  <h2>Check Asset</h2>
  <p>Check Asset through Ethereum Blockchain Network</p>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <form action="/indexdata" method="post">
        <div class="form-group">
            <label>Enter Asset Id:</label>
            <input type="text" class="form-control" name="assetid" required />
        </div>
        <button type="submit" class="btn btn-danger">Check Asset</button>
    </form>
    
  </div>
</div>
<br/><br/>
<div class="container">
  <h2>Result Details</h2>
  <p>Following is the Asset on-boarded in Blockchain Network</p>            
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name of Farmer</th>
        <th>Name of Distributor</th>
        <th>Name of Shop</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{id}}</td>
        <td>{{assetf}}</td>
        <td>{{assetd}}</td>
        <td>{{assets}}</td>
      </tr>
    </tbody>
  </table>
  <center><p>Your address is <b id="add"></b></p></center>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>